.form {
  padding: 1rem 0;
  background: $c-form;
  color: $c-white;

  &__header {
    margin: 0.5rem 0;
    font-size: 1.2rem;
    text-align: center;
    text-transform: uppercase;
  }

  &__group {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.3rem;
  }
}
