.nav {
  background: $c-primary;
  color: $c-white;

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

  &__menu-title {
    margin: 0.5rem 0;
    font-size: 1.2rem;
    text-transform: uppercase;
  }
}
